.row-gap > * {
  margin-left: 16px;
}

.le-800 .row-gap > * {
  margin-left: 12px;
}

.le-480 .row-gap > * {
  margin-left: 8px;
}

.row-gap > :first-child {
  margin-left: 0;
}

.grid-gap {
  gap: 16px;
}

.le-800 .grid-gap {
  gap: 12px;
}

.le-480 .grid-gap {
  gap: 8px;
}
